<header class="header">
  <nav class="container">
    <ul class="header__nav">
      <li>
        <a href="#" class="nav-link">WILLIAM LEE</a>
      </li>
      <li>
        <a href="#" class="nav-link">BASED IN TAIWAN</a>
      </li>
      <li>
        <a href="#" class="nav-link">
          CURRENTLY FRONT END <br> ENGINEER AT HEXSCHOOL
        </a>
      </li>
      <li>
        <a href="#" class="nav-link">
          CONTACT ME
        </a>
      </li>
    </ul>
  </nav>
</header>