@mixin btn($bg-color: #e2e2e2) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  border: 0;
  padding: 0.75rem 0.875rem;
  border-radius: 2rem;
  background-color: $bg-color;
  font-size: 1rem;
  transition: all 250ms ease-in-out;
}

.btn {
  @include btn;
}

@each $key, $val in $theme-colors {
  .btn-#{$key} {
    @include btn($val);
    &:hover {
      background-color: lighten($val, 5);
    }
  }
  .btn-outline-#{$key} {
    @include btn(#fff);
    border: 1px solid $val;

    &:hover {
      background-color: $val;
    }
  }
}

.btn img {
  transition: all 250ms ease-in-out;
}
.btn:hover img {
  transform: translate( 10%, -10%);
}

.btn-light:hover {
  background-color: $color-gray-100;
}

.btn-dark:hover {
  background-color: $color-gray;
}