.header {
  background-color: $color-dark;
  padding: 2.5rem 0;

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav .nav-link {
    opacity: 0;
    color: $color-light;
    transition: $transition-base;
    &:hover {
      color: $color-primary;
    }
  }
}
